{% extends "admin/base_site.html" %}

{% block content_title %}
    <h1> Дешборд сайту </h1>
{% endblock %}

{% block content %}

<div>
    <ul>
        <li>Загальна кількість користувачів: {{all_users}}</li>
        <li>Кількість зареєстрованих за останній тиждень: {{reg_user_last_week}} </li>
        <li>Кількість задач загальна: {{all_tasks}}</li>
        <li>Кількість задач Todo: {{tasks_todo}}</li>
        <li>Кількість задач In progress: {{tasks_in_progress}}</li>
        <li>Кількість задач Blocked: {{tasks_blocked}}</li>
        <li>Кількість задач Finished: {{tasks_finished}}</li>

    </ul>
</div>


{% endblock %}

{% block pagination %}{% endblock %}