{% extends 'todo/base.html' %}

{% block content %}
    <div class="row">
        <p>Ваша ссылка не корректна залогинтесь снова</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
{% endblock content %}