{% extends 'todo/base.html' %}

{% block login/register %}
    <h1>Login</h1>
    <hr>

    {% if form.errors %}
        <p>{{ form.errors.error }}</p>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <a href="{% url 'password_reset' %}">Forgot password?</a>
{% endblock login/register %}