{% extends 'todo/base.html' %}

{% block content %}
    <h1>Password reset</h1>
    <hr>
    <form action="{% url 'password_reset' %}" method="post">
        {{ form }}
        {% csrf_token %}
    <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock content %}