{% extends 'todo/base.html' %}

{% block content %}
<h2>Edit Profile</h2>
<form method="post">
<div>
  {% csrf_token %}
    {{ form.as_p }}
  <input type="submit" value="Submit" />
</div>
</form>
{% endblock content %}