{% extends 'todo/base.html' %}

{% block login/register %}
    <h1>Register</h1>
    <hr>

    <form action="{% url 'register' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
    <button type="submit" class="btn btn-success">Submit</button>
    </form>
{% endblock login/register %}