<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>ToDo</title>
</head>
<body>


{% include 'todo/header.html' %}

{% if user.is_authenticated %}
<div>
        {% block content %} {% endblock content %}
</div>

{% else %}
<div>
        {% block login/register %} {% endblock login/register %}
</div>


{% endif %}

{% include 'todo/footer.html' %}

</body>
</html>