
<footer class="footer mt-auto py-3 bg-light">
  <a href="{% url 'todo_list' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="60" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">LOGO</span>
  </a>
  <div class="container">
    {% if user.is_authenticated %}
    <a href="{% url 'update_profile' user.id %}">{{ user }}</a>
    {% endif %}
  </div>
</footer>

<footer class="text-center text-white" style="background-color: #f1f1f1;">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- YouTube -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.youtube.com/channel/UCn3EYwFQe7SxrH1hitcFBYw"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab youtube"></i
      >YouTube</a>

      <!-- Gitlab -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://gitlab.com/Schwarzer_Schlosser/todo_app"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-gitlab"></i
      >GitLab</a>
    </section>
  </div>


  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Ukraine, Zaporozhye
    <a class="text-dark" href="#"></a>
  </div>
  <!-- Copyright -->
</footer>