
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'todo_list' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="60" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">LOGO</span>
      </a>

    {% if user.is_authenticated %}
    <div class="nav col-10 col-md-auto mb-10 justify-content-center mb-md-0">
        <a href="{% url 'update_profile' user.id %}">User: {{ user.first_name }} {{ user.last_name }}</a>
    </div>
    {% endif %}

      <div class="col-md-3 text-end">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout </a>
        {% else %}
            <a href="{% url 'login' %}">Login</a> |
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
    </header>

