{% extends 'todo/base.html' %}

{% block content %}
  <ul>
    <li>All tasks: {{count_all}}</li>
    <li>Tasks to do: {{count_todo}}</li>
    <li>Tasks in progress: {{count_in_progress}}</li>
    <li>Tasks blocked: {{count_blocked}}</li>
    <li>Tasks finished: {{count_finished}}</li>
    <li>Average time per task: {{midl_time}}</li>
  </ul>
{% endblock content %}