{% extends 'todo/base.html' %}

{% block content %}
<a href="{% url 'todo_list' %}">Back to list</a>
<h2>Delete Task</h2>
<form method="POST">
<div>
  {% csrf_token %}
  <p>Are you sure you want to delete "{{ task }}"?</p>
  <input type="submit" value="Delete" />
</div>
</form>



{% endblock content %}