{% extends 'todo/base.html' %}
{% block content %}
<h4><a href="{% url 'todo_list' %}">Back to list</a></h4><br>
<h3>Title: {{task.title}}</h3><br>
<h4>Description: {{task.description}}</h4><br>
<h4>Deadline: {{task.complete}}</h4><br>
<h4>Status: {{task.status}}</h4><br>
<h4>Priority: {{task.priority}}</h4><br>
<h4>Importance: {{task.importance}}</h4><br>
<h4><a href="{% url 'update_list' task.id %}">Update</a> /// <a href="{% url 'delete_task' task.id %}">Delete</a> </h4><br>

{% endblock content %}
