{% extends 'todo/base.html' %}
{% block content %}

<div>
    <form action="" method="get">
        <input type="text" name="qwerty">
        <input type="submit" value="Search">
    </form>
</div>

<h3><a href="{% url 'task_statistic' %}">Statistic</a> /// <a href="{% url 'create_form' %}"> Add task </a> </h3><br>
<ul>
    {% for task in tasks %}
    <h4>{{task.title}}</h4>
    <h4>{{task.complete}}</h4>
    <p>{{task.description|truncatewords:3}} <a href="{% url 'detail' task.id %}">Read more</a></p>
    <hr>
    {% endfor %}
</ul>

<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% for p in tasks.paginator.page_range %}
      {% if tasks.number == p %}
      <li class="page-item active" aria-current="page">
          <span class="page-link">{{ p }}</span>
      </li>
      {% else %}
      <li>
          <a class="page-link" href="?page={{ p }}">{{ p }}</a>
      </li>
      {% endif %}
      {% endfor %}
  </ul>
</nav>

{% endblock content %}

<!--requiremntObj = CustomerLeads.objects.all() -->
<!--a = datetime.datetime.now().date() -->
<!--for i in requiremntObj: -->
<!--    date1=i.posting_date -->
<!--diff = a-date1 -->
<!--print diff -->
