{% extends 'todo/base.html' %}

{% block content %}
<h3><a href="{% url 'todo_list' %}">Home page</a></h3>
<h2>Create new task</h2>

<form method="post">
<div>
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
</div>
</form>

{% endblock content %}